body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #222;
}

/* HEADER */
header {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 45px;
  margin-right: 10px;
  filter: brightness(0) invert(1);
}

header h1 {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: 0.3s;
  position: relative;
}

nav a::after {
  content: '';
  display: block;
  height: 2px;
  background: #e2b714;
  width: 0;
  transition: 0.3s;
  margin-top: 3px;
}

nav a:hover::after,
nav a.active::after {
  width: 100%;
}


.producto-container{
max-width: 1200px;
margin: auto;
padding: 50px 20px;
display: flex;
flex-wrap: wrap;
gap: 40px;
align-items: start;
}

.producto-imagen-principal{
flex: 1 1 500px;
}

.producto-imagen-principal img{
width: 100%;
border-radius: 10px;
}

.producto-info{
flex: 1 1 400px;
}

.producto-info h1{
font-size: 2.5rem;
margin-bottom: 20px;
}

.producto-info p{
font-size: 1rem;
margin-bottom: 20px;
line-height: 1.6;
}

.especificaciones{
list-style: none;
padding: 0;
margin-bottom: 30px;
}

.especificaciones li{
padding: 5px 0;
border-bottom: 1px solid #333;
}

.btn-volver{
display: inline-block;
padding: 12px 25px;
background: #E0B500;
color: black;
text-decoration: none;
font-weight: 600;
border-radius: 6px;
}

.galeria{
max-width: 1100px;
margin: 30px auto;
display: flex;
gap: 15px;
justify-content: center;
}

.galeria img.thumb{
width: 120px;
cursor: pointer;
border-radius: 6px;
transition: transform .2s;
height: 120px;
object-fit: cover;

}

.galeria img.thumb:hover{
transform: scale(1.05);
}

/* Responsive */
@media(max-width: 900px){
.producto-container{
flex-direction: column;
text-align: center;
}
}


